{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}
{% block content %}
    <div style="text-align: center;">
        <style>
  .header-h1 {
    text-align: center;
    margin-bottom: .5rem;
  }
  .header-h1 h1 {
    display: inline-block;
    background: #0097a7;
    color: #fff;
    margin-bottom: 0;
    padding: .5rem 1rem .625rem 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 30px;
  }
  .contact-info {
 font-weight: normal; /* Добавляем обычный (не жирный) шрифт */
 }
</style>

    <div class="header-h1" style="text-align: center;">
  <h1>Cвяжитесь с нами</h1>
</div>
        <div class="col" style="margin: 0 auto; width: 50%;">
            <p class="h5">Если вы не можете найти нужную информацию на нашем веб-сайте, напишите нашей службе поддержки с вашим запросом.</p>
            <p class="h5">Постарайтесь предоставить как можно больше деталей, чтобы наша команда могла быстро решить вашу проблему.</p>
        </div>

        <a href="mailto:prmuradkhanova@edu.hse.ru" target="_blank" style="display: block; margin-top: 20px;"><strong>prmuradkhanova@edu.hse.ru</strong></a>

        <p style="margin-top: 10px;"></p>

        <a href="https://t.me/muradpo" class="telegram-link" target="_blank" style="display: block;"><strong>Телеграм</strong></a>
        <p>
            <p style="margin-top: 10px;"></p>
        <a href="https://vk.com/polinamuradkhanova" target="_blank"><strong>Ссылка на ВКонтакте<strong></a>
            <p style="margin-top: 30px;"></p>
        </p>

    </div>
{% endblock %}