{% extends 'core/base.html' %}

{% block title %} Welcome {%  endblock %}
{% block content %}
    <div style="text-align: center;">
        <style>
  .header-h1 {
    text-align: center;
    margin-bottom: .5rem;
  }
  .header-h1 h1 {
    display: inline-block;
    background: #0097a7;
    color: #fff;
    margin-bottom: 0;
    padding: .5rem 1rem .625rem 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 30px;
  }
</style>
    <div class='mt-6 px-6 py-12 bg-gray-100 rounded-xl'>
        <h2 class="mb-12 text-2xl text-center">Новые товары</h2>
        <div class = 'grid grid-cols-3 gap-3'>
            {% for item in items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src="{{ item.image.url }}" class="rounded-t-xl">

                    </div>
                    <div class = "p-6 bg-white rounded-b-xl">
                        <h2 class = 'text-2xl'>{{ item.name}}</h2>
                        <p class = 'text-gray-500'>Цена: {{ item.price }}</p>

                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-6 flex justify-center">
            <div class="flex">
                {% if items.has_previous %}
                    <a href="?page={{ items.previous_page_number }}" class="px-4 py-2 bg-gray-200 text-gray-700">Назад</a>
                {% endif %}

                <span class="px-4 py-2 bg-gray-300 text-gray-800">{{ items.number }} из {{ items.paginator.num_pages }}</span>

                {% if items.has_next %}
                    <a href="?page={{ items.next_page_number }}" class="px-4 py-2 bg-gray-200 text-gray-700">Дальше</a>
                {% endif %}
            </div>
        </div>
        <div class='mt-6 px-6 py-12 bg-gray-100 rounded-xl'>
            <h2 class="mb-12 text-2xl text-center">Категории</h2>
            <div class = 'grid grid-cols-3 gap-3'>
                {% for category in categories %}
                    <div>
                        <a href="#">
                            <div class = "p-6 bg-white rounded-b-xl">
                                <h2 class = 'text-2xl'>{{ category.name}}</h2>
                                <p class = 'text-gray-500'>{{ category.items.count }} items</p>

                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
