{% extends 'core/base.html' %}


{% block content %}
    <div style="text-align: center;">
        <style>
  .header-h1 {
    text-align: center;
    margin-bottom: .5rem;
  }
  .header-h1 h1 {
    display: inline-block;
    background: #0097a7;
    color: #fff;
    margin-bottom: 0;
    padding: .5rem 1rem .625rem 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 30px;
  }
</style>


<div class="header-h1">
</div>
    <div class="header-h1" style="text-align: center;">
        <h1>Политика конфиденциальности интернет-магазина</h1>
    </div>

        <div class="col" style="margin: 0 auto; width: 50%;">
        <p class="h5">Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</p>
                    <p style="margin-top: 10px;"></p>

        <p class="h5">В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.</p>
                    <p style="margin-top: 10px;"></p>

        <p class="h5">Настоящая Политика конфиденциальности применяется только к данному сайту. Администрация сайта не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на данном сайте.</p>
                    <p style="margin-top: 10px;"></p>

        <p class="h5">Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.</p>
                                <p style="margin-top: 30px;"></p>
            <p></p>

    </div>
{% endblock %}