{% extends 'core/base.html' %}

{% block title %}Terms{% endblock %}
{% block content %}
    <div style="text-align: center;">
        <style>
  .header-h1 {
    text-align: center;
    margin-bottom: .5rem;
  }
  .header-h1 h1 {
    display: inline-block;
    background: #0097a7;
    color: #fff;
    margin-bottom: 0;
    padding: .5rem 1rem .625rem 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 30px;
  }
</style>
        <div class="header-h1">
</div>
    <div class="header-h1" style="text-align: center;">
        <h1>Правила пользования</h1>
    </div>
        <div class="col" style="margin: 0 auto; width: 50%;">
        <p class="h5">Вы понимаете, что мы предлагаем юридические контракты, политики или соглашения, созданные и/или проверенные адвокатами или помощниками юристов для продажи через наш Сервис. </p>
                                <p style="margin-top: 10px;"></p>
            <p class="h5"> Вы признаете, что Мы не являемся адвокатами или помощниками юристов и не предоставляем юридических консультаций.</p>
                                <p style="margin-top: 10px;"></p>
            <p class="h5"> Вы признаете, что Мы не поддерживаем какого-либо конкретного адвоката или помощника юриста или какой-либо Продукт как лучший по сравнению с другим.</p>
                                <p style="margin-top: 10px;"></p>
            <p class="h5">Мы не гарантируем юридическую точность или применимость любого Продукта для ваших юридических нужд. Вы всегда будете обращаться к любому адвокату или помощнику юриста, которого вы выбрали для получения услуг, по поводу любых юридических претензий, связанных с такими услугами.</p>
                                            <p style="margin-top: 30px;"></p>
        </div>

{% endblock %}